<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM Automation Test Suite" verbose="1">
    <listeners>
        <listener class-name="com.example.listeners.TestListener" />
    </listeners>

    <test name="Login and Authentication Tests">
        <classes>
            <class name="com.example.tests.LoginTest" />
        </classes>
    </test>
</suite>
